<!DOCTYPE html>
<html>
<head>
	<title>Account Form</title>
	<link rel="stylesheet" type="text/css" href="css/acc_reactivation.css">
</head>
<body>


<div class="hed">
	<img src="./img/img6.png" style="width: 280px; height: 150px;"><br>

	<ul class="logo">
	  <li><a href="/customer">Home</a></li>
	 </ul>
</div>

<header>
	<h1>Dormat Account Reactivation Form</h1>
  	<p>Welcome to the Guaranty Trust Bank Online Account Opening Web Engine, where you can initiate the process of opening an account and get an account number instantly.</p>
</header>


	<section>
	   
</form>
	   <div class="container">
			
			<form>
				<div class="row">
					<div class="row">
				  	<div class="name">
				    	<label for="lname">Account NO</label>
				    	<label class="star" style="color: #FF0000">*</label>
				  	</div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="lastname" placeholder="Accountno!">
				  	</div>
				</div>
					<div class="row">
					<div class="row">
				  	<div class="name">
				    	<label for="lname">Customer Name:</label>
				    	<label class="star" style="color: #FF0000">*</label>
				  	</div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="lastname" placeholder="Accountno!">
				  	</div>
				</div>
				<div class="row">
					<div class="name">
				    	<label for="country">Reason for Dormancy</label>
				  	</div>
				  	<div class="col-75">
						<select id="country" name="country">
				  			<option value="0">-- choose account type --</option>
							<option selected="selected" value="2">Proximity</option>
							<option value="5">Out of town</option>
							<option selected="selected" value="2">Dissatisfaction with service</option>
						</select>
				  	</div>
				</div>
					</div><br><br><br>




				<div class="row">
					<h1 class="title">Customer Information Update</h1>
					<div class="name">
				    	<label for="lname">Residential Address</label>
				  	</div>
				  	
				  	<div class="col-75">
				    	<input type="text" id="lname" name="lastname" placeholder=>
				    </div>
					</div>
				<div class="row-2">
						<input type="submit" value="Validate">
				</div>
				 



				<div class="row">
				  	<div class="name">
				    	<label for="lname">Tel.No:</label>
				    	<label class="star" style="color: #FF0000">*</label>
				  	</div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="lastname" placeholder="Surname here!">
				  	</div>
				</div>

				<div class="row">
				  	<div class="name">
				   		<label for="lname">Email Address</label>
				   		<label class="star" style="color: #FF0000">*</label>
				  	</div>
				  	<div class="col-75">
				   		<input type="email" id="lname" name="email" placeholder="example@gmail.com">
				  	</div>
				</div>

				<div class="row">
				  	<div class="name">
				    	<label for="lname">Employer Name</label>
				  	</div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="m_name" placeholder="">
				  	</div>
				</div>
					
				<div class="row">
				  	<div class="name">
				    	<label for="lname">Office Addresss</label>
				    	<label class="star" style="color: #FF0000">*</label>
				  	</div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="mobile " placeholder="Mobile number here!">
				  	</div>
				</div>

				<div class="row">
				  	<div class="name">
				    	<label for="lname">Mother's Maiden Name</label>
				 	 </div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="email" placeholder="Email Address here!" >
				  	</div>
				</div>

				<div class="row">
					<div class="name">
				    	<label for="lname">Date of Birth</label>
				    	<label class="star" style="color: #FF0000">*</label>
				  	</div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="dob" placeholder="Date of Birth!">
				    </div>
				</div>
				  	
				</div>
				<p class="ser1" style="font-size: 12, color:orange">please select preferred e-banking products/services</p>

				 <br><br><br><br><br><br>	<br><br><br><br><br><br>	
				<div class="row-3">
				  	<input type="submit" value="Submit">

				</div>
			
			</form>

		
		</div>

	</section><br>
		<br><p class="valid" style="font-size: 13px">My account has been inactive for over six months. I wish to resume transaction of business through my account with you. Kindly therefore re-activate my account.I understand that i am require to effect a deposit or a withdrawal as part of the account re-activation process.I also confirm that the above information is correct.
		<p>
			<p class="ser">Internet banking<input type="checkbox" class="larger" id="lname">email statement<input type="checkbox" class="larger" id="lname">Naira Debitcard<input type="checkbox" class="larger" id="lname">Dollar Debitcard<input type="checkbox" class="larger" id="lname">SMS alert <input type="checkbox" class="larger" id="lname">email alert<input type="checkbox" class="larger" id="lname"></p>
		<h4 class="one">Authorized Signatory</h4>
		<h4 class="two">Authorized Signatory</h4>





<br><br><br>



<footer>
	<p class="yy">Copyright © GTBank Plc 2018. All rights reserved.</p>
</footer>
</body>
</html>