<!DOCTYPE html>
<html>
<head>
	<title>Admin Access Backend</title>
	<link rel="stylesheet" type="text/css" href="form.css">
	
</head>




<body>

<div class="sign-in-form">
	<img src="download.jfif">
	<h1> Add Users</h1>
	<form action="/admin/user/add" method="POST">
		<input class="input-box" type="text" name="username" placeholder="Username">
		<input class="input-box" type="password" name="password" placeholder="password">

		<input class="btn" type="submit" value="Add">

	</form>
</div>
<footer><p class="foter">&copy; 2017-2020</p></footer>


</body>
</html>



