

<!DOCTYPE html>
<html>
<head>
	<title>Admin Access Backend</title>
	<link rel="stylesheet" type="text/css" href="form.css">
	
</head>




<body>

<p class="">Admin: <%= username %> logged in</p>
<a href="/admin/logout">Admin Logout</a>
<a href="/list">User list</a>
<a href="/admin/add">add</a>



</body>
</html>



