<!DOCTYPE html>
<html>
<head>
	<title>Account Form</title>
	<link rel="stylesheet" type="text/css" href="css/card_request.css">
</head>
<body>


<div class="hed">
	<img src="./img/img6.png" style="width: 280px; height: 150px;"><br>

	<ul class="logo">
	  <li><a href="#home">Home</a></li>
	 </ul>
</div>

<header>
	<h1>Replacement Card request Form </h1>
  	
</header>


	<section>
	   
	   <div class="container">
			
			<form>
				<div class="row">
				<h1 class="title"></h1>
					
					<div class="name">
				    	<label for="lname">Surname</label>
				    	<label class="star" style="color: #FF0000">*</label>
				  	</div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="dob" placeholder="username">
				    </div>
				
				</div>
				<div class="row">
					<div class="name">
				    	<label for="lname">Firstname</label>
				    </div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="f_name" placeholder="">
				    </div>
				
				</div>
				<div class="row">
					<div class="name">
				    	<label for="lname">Lastname</label>
				   	</div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="f_name" placeholder="">
				    </div>
				
				</div>

				<div class="name">
					<label for="country">Card Option</label>
					<label class="star" style="color: #FF0000">*</label>
				</div>
				<div class="col-75">
					<select id="country" name="country">
				  		<option value="0"> choose </option>
						<option selected="selected" value="2">Visa Card</option>
						<option value="5">Master card</option>
						<option value="5">Naira Master Card</option>
					</select>
				</div>


				<div class="name">
					<label for="country">Replacement</label>
					<label class="star" style="color: #FF0000">*</label>
				</div>
				<div class="col-75">
					<select id="country" name="country">
				  		<option value="0"> choose </option>
						<option selected="selected" value="2">Damaged</option>
						<option value="5">Lost</option>
						<option value="5">Stolen</option>
					</select>
				</div>
			

				<div class="row">
					<div class="name">
				    	<label for="lname">BVN</label>
				  	</div>
				  	
				  	<div class="col-75">
				    	<input type="text" id="lname" name="lastname" placeholder="Please input 0 if you do not have BVN as at this moment">
				    </div>
					</div>
				<div class="row-2">
						<input type="submit" value="Get BVN">
				</div>






				<div class="row">
				  	<div class="name">
				    	<label for="lname">Email Address</label>
				 	 </div>
				  	<div class="col-75">
				    	<input type="email" id="lname" name="email" placeholder="example@gmail.com" >
				  	</div>
				</div>
				<div class="row">
					<div class="name">
				    	<label for="lname">Account No.</label>
				  	</div>
				  	
				  	<div class="col-75">
				    	<input type="text" id="lname" name="lastname" placeholder="Account No">
				    </div>
				</div>
				<div class="row">
				  	<div class="name">
				    	<label for="lname">Mobile Number</label>
				    	<label class="star" style="color: #FF0000">*</label>
				  	</div>
				  	<div class="col-75">
				    	<input type="text" id="lname" name="mobile " placeholder="Mobile number here!">
				  	</div>
				</div>
				<div class="row-3">
				  	<input type="submit" value="Submit">
				</div>
				<br><br>
			
			</form>
		
		</div>

	</section>

<footer>
	<p>Copyright © GTBank Plc 2018. All rights reserved.</p>
</footer>


















</body>
</html>