

<!DOCTYPE html>
<html>
<head>
	<title> script demo</title>
	<link rel="stylesheet" type="text/css" href="form.css">
	<link rel="stylesheet" type="text/css" href="error.css">
	
	
</head>
<body><br><br>

<div class="sign-in-form"> 	<img src="download.jfif">
 	<h1> Sign In</h1>
	<form action="login", method="POST">
  
  <input class="input-box" type="text" placeholder="email" name="email">
  <br>
  
  <input class="input-box" type="password" placeholder="password" name="password">
  <br><br>
  <input class="btn" type="submit" value="Sign in">
</form>
</div>
<p class="error"><%= error %></p>


</body>
</html>



