<!DOCTYPE html>
<html>
<head>
	<title> script demo</title>
	
	
</head>
<body><form action="/register" method="POST">
	<input type="text" name="username">
	<input type="text" name="password">
	<input type="submit" value="submit">
</form>

</body>
</html>