

<!DOCTYPE html>
<html>
<head>
	<title>User homepage</title>
	<link rel="stylesheet" type="text/css" href="form.css">
	
</head>




<body>
<p>Userhomepage</p>

<p class="">Your username is <%= username %> </p>
<a href="/user/logout">User logout</a>

<footer><p class="foter">&copy; 2017-2020</p></footer>


</body>
</html>



